/* bnr_template.css */
/* This template is for the brisnorth.scoutsqld.com.au website */
/* Author: Ernie Gibbs, ARC Venturer Scouts, BNR */
/* Written: 25 March 2018 */
/* Modified: 21 Oct 2018 */
/* Modified: 17 Jan 2019 -implement new Scouts Asutralia brand */

/* Style the main html elements */

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.container {
	margin: 1px 1em 1px 1em;
	padding-left: 0;
	padding-right: 0;
	display: flex;
	align-items: stretch;
	flex-flow: row wrap;
	background-color: rgb(0,143,136);
}

body {
 
  background-color: rgb(38,38,97); /* Australian Navy Blue */
	color: white;
	margin: 0;
	font-size: 1em;
}

h1, h2, h3, h4, h5, h6  {
    color: navy;
    margin-left: 20px;
}

.strong {
	font-weight: bold;
}

.centre {
	text-align: center;
}


/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: rgb(38,38,97);
}

/* Style the topnav links */
.topnav a {
    float: left;
/*    display: block; */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: rgb(61,92,146); /* Scouts Medium Blue */
    color: white;
}

/* Add top nav elements for dropdown */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 0;
  background-color: rgb(38,38,97);
  font-family: inherit;
  margin: 0;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(61,92,146);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(0,143,136);
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(61,92,146);
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Style for the page header */
.frame-nav {
  height: 110px; /*can be anything*/
  width: 20%; /*can be anything*/
  background-color: rgb(38,38,97); /* Australian Navy Blue */
  background-image: url("../images/Scouts_AUS_Master_Horiz_FullCol_Rev_RGB.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: relative;
}

.frame-content {
  height: 110px; /*can be anything*/
  width: 80%; /*can be anything*/
  background-color: rgb(38,38,97); /* Australian Navy Blue */
  background-image: url("../images/Scouts_horiz_07_1640x296.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: relative;
  line-height: 60px;
}

.title {
  color: white;
  text-align: left;
  margin-left: 20px;
  font-size: 2em;
  font-weight: bolder;
}

img.header {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 5px;
}

/* Style the nav (LH) column */
.col-nav {
  order: 1;
	width: 12%;
  color: white;
  background-color: rgb(38,38,97); /* Australian Navy Blue */
  background-image: url("../images/Scouts_vert_02_254x1412.jpg");
  background-position: 0% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}

.col-nav a {
  color: rgb(0,143,136);
}

/* Style the content (RH) column */
.col-content {
    order: 2;
	width: 88%;
	background-color: rgb(0,143,136);
    padding: 10px;
}

.col-content a {
  color: rgb(153,255,248);
}

.col-content a:visited {
  color: rgb(204,255,252);
}

.left-indent {
  margin-left: 35%;
  text-align:left;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: auto;
}

img.inline-logo {
	display: inline;
	height: 1.5em;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	
}


/* Unordered list class to force dot to be immediately left of text */
ul.inside {
	list-style-position: inside;
/*	list-style-image: url('../images/Scouts Australia Icon BW.png'); */
}

p.inline {
	vertical-align: middle;
}

/* Style the footer */
.footer {
	font-size: 0.9em;
    background-color: rgb(0,143,136);
    padding: 10px;
}

/* Style the copyright notice */
.Copyright {
	text-align: center;
	font-size: 0.8em;
}
	
table.gridtable {
	color: white;
	border-width: 1px;
	border-color: DimGray;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: DimGray;
	background-color: rgb(61,92,146); /* Scouts Australia Medium Blue */
	color: white;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: DimGray;
	background-color: rgb(0,143,136);
}

@media only screen and (max-width: 480px) {
	.col-content {
		order: 1;
	}
	.col-nav {
		order: 2;
	}
}